:root {
    --blue: rgb(145, 191, 226); 
    --dark-blue: rgb(58, 76, 90);
    --gray: rgb(53, 53, 53); 
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif
  }
    
header {
    margin: 0px auto;
    display: flex;
    min-height: 70px;
    background-color: var(--gray);
    padding: 10px 0px;
  }

header h1 {
    width: 25%;
    color: var(--gray);
    background-color: var(--blue);
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

nav {
    display: flex;
    align-content: center;
    justify-content: right;
    flex-wrap: wrap;
    width: 75%;
}

nav a {
    display: inline;
    margin: 10px;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    color: var(--blue);
    font-size: 18px;
    text-align: right;
    border-bottom: 3px solid var(--blue);

}

.hero-banner {
    background-image: url(../images/02-hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 40vh;
    display: grid;
    justify-content: end;
    align-items: end;
    
}

.hero-banner h2 {
    background-color: rgba(110, 207, 255, 0.7);
    margin: 0px 100px 10px 0px;
    padding: 15px;
    color: var(--gray);
    z-index: 100;
}

.hero-banner p {
    display: flex;
    position: relative;
    bottom: 27px;
    left: 617px;
    vertical-align: super;
    font-size: 10px;
    font-style: oblique;
    color: var(--gray);
}

.page-wrapper {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 2fr 5fr 1fr;
    grid-template-columns: 25% 75%;
    grid-template-areas:
    "about description"
    "work projects"
    "contact links"
}

#description {
  line-height: 1.5;
  margin: 10px;
  color: var(--dark-blue);
}

#about,
#work,
#contact {
  border-right: 3px solid var(--dark-blue);
  margin: 10px;
}

.page-section h2 {
    font-size: 40px;
    color: var(--dark-blue);
    max-width: 200px;
    padding: 20px;
    text-align: right;

}

.page-content {
    padding: 15px;
}

.work-content {
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "portfolio-a portfolio-a"
    "portfolio-b portfolio-c"
    "portfolio-d portfolio-e"

}

.heading {
    background-color: var(--dark-blue);
    padding: 19px;
    height: 60px;
    margin-bottom: 10px;
    color: var(--blue);
    font-size: 18px;
}

.projects {
    padding: auto;
    margin: 5px;
    cursor: pointer;
    border: 5px solid var(--dark-blue);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

.projects:hover {
    opacity: 0.7;
}

#portfolio-a {
    grid-area: portfolio-a;
    background-image: url("../images/02-portfolio-1.jpg");
  
  
  }
  #portfolio-b {
    grid-area: portfolio-b;
    background-image: url("../images/02-portfolio-2.jpg");
  }
  
  #portfolio-c {
    grid-area: portfolio-c;
    background-image: url("../images/02-portfolio-3.jpg");
  }
  
  #portfolio-d {
    grid-area: portfolio-d;
    background-image: url("../images/02-portfolio-4.jpg");
  }
  
  #portfolio-e {
    grid-area: portfolio-e;
    background-image: url("../images/02-run-buddy.jpg");
  }

#links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

@media only screen and (max-width: 800px) {
  
  .hero-banner p {
    left: 300px;
  } 

  .page-section h2 {
    font-size: 35px;
  }

  .work-content {
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr ;
    grid-template-areas:
    "portfolio-a"
    "portfolio-b"
    "portfolio-c"
    "portfolio-d" 
    "portfolio-e" 
  }

   #links {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "mail phone"
    "tw gh";
   }
   
}
   
@media only screen and (max-width: 700px) {
  
  header h1 {
    display: flex;
    font-size: 25px;
    align-items: center;
  }
    
  nav a {
    font-size: 15px;
    margin: 6px;
  }

  .page-section h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 600px) {
  
  header h1 {
    display: flex;
    font-size: 20px;
    align-items: center;    
  }

  .page-section h2 {
    font-size: 23px;
  }

  #links {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1f;
    grid-template-areas: 
    "mail" 
    "phone"
    "tw"
    "gh";
  }
}